/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Oct 17, 2023, 3:46:01 PM
    Author     : Luu Bach
*/

body {
    background-image: url("../img/fpt_university.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
